.description{
    width: 150px;
    height: 170px;
}
.view{
    background-color:sandybrown;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
table{
    border:8px black;
}
th{
    border:8px black; 
}
.up{
    color:black; 
   
}
a { 
    color: blue;
}
.description2{
    width: 150px;
    height: 100px; 
}
h5{
    display: inline-block;
}