@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}
p{
  font-family: myFirstFont;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 5%;
  padding: 1%;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.flex-container,.flex-container2,.flex-container3 {
  display: flex;
  flex-wrap: nowrap;
}
.flex-container > div{
  width: 50%;
  margin: 1%;
  line-height: 120%;
  font-size: 140%;
}
.flex-container2 > div{
  width: 33.33%;
  margin: 1%;
  line-height: 120%;
  font-size: 140%;
}
.flex-container3 > div{
  width: 100%;
  margin: 1%;
  line-height: 120%;
  font-size: 140%;

}
.definition1{
  background-color: green;
}
table{
  background-color: darkKhaki;
  width: 100%;
}
th{
  width: 25%;
}
a{
  text-decoration:none;
  color:white;
}

@media screen and (max-width: 600px){
  .flex-container,.flex-container2,.flex-container3 {
    display: block;
    flex-wrap: nowrap;
  }

.flex-container > div,.flex-container2 > div,.flex-container3 > div{
    width: 100%;
    margin: 1%;
    line-height: 120%;
    font-size: 140%;
  }
  

}